
@font-face {
    font-family: 'Lekton-Regular';
    src: url('src/fonts/Lekton-Regular.ttf');
}

* {
    font-family: 'Lekton-Regular';
    background-color: beige;
    font-size: 1em;
}

body {
    max-width: 1024px;
    padding: 0 64px 64px;
    margin: 0 auto; 
}

h1 {    
    font-size: 3em;
    color: pink;
}

a {
    color: #000;
}

a:visited {
    color: #000;
}

header ul {
    padding: 0;
}

header li {
    display: inline-block;
    margin-right: 24px;
}
